* {
    box-sizing: border-box;
}
header {
    text-align: center;
    color: black;
    background-color: blanchedalmond;
}
.mybody{
    text-align: center;
    margin: 90px auto;
}
.mybody1{
    margin: 0 auto;
    width: 100%;
    
}
.img {
    width: 100%;
}
.titleflim {
    font-family: 'Georgia', Times New Roman, Times, serif;
    font-size: 15px;
    border: 1px solid white;
}
.bodyflim {
    margin:  auto;
    font-size: 20px;
    background-color: wheat;
    text-align: justify;

}
.one {
    font-weight: bold;
    width: 20%;
    line-height: 30px;
    /* border: 1px solid blue; */
}
.img1 {
    width: 100%;
    margin: 0 auto;
}
