
h1 {
    color: rgb(204,118,209);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
body {
    background-color: rgb(250,236,228);
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#note {
    color: rgb(167,24,212);
    font-size: 150%;
    font-weight: normal;
}
#Antarctica {
    color: red;
}
#Phailaenopsis {
    color: seagreen;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(164,202,78);
}
ul {
    color: rgb(157,58,53);

}