.menu {
    border: black solid;
    width: 90%;
    text-align: center;
    font-weight: bold;

}

.thu {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
th:hover {
    background-color: rgb(31, 140, 136);
 }


